*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /*Project Font*/
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: normal;

  --primary-color: #F463AF;
}

html, body{
  height: 100vh;
}

#popup-wrapper{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(248, 127, 238, 0.7);
  position: fixed;
  top: 0;
  left: 0;
}

#popup{
  color: #F463AF;
  background-color: rgb(249, 250, 250);
  border-radius: 10%;
  text-align: center;
  width: 100%;
  max-width: 300px;
  margin: 10% auto;
  padding: 20px;
  position: relative;
}

main{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #fae3f8;
  position: relative;
}

#cover-image{
  width: 100%;
  border-bottom: solid 20px var(--primary-color);
}

#text-container{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
}

#text-container p{
  text-align: center;
  font-size: 2.5vh;
  
}

#text-container h2{
  padding: 20px 0;
  font-size: 4vh;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
}

#buttons-and-image{
  display: flex;
}

#buttons-container{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.button{
  width: 90%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 10px 0 10px 20px;
  border-radius: 18px;
  word-wrap: break-word;
  background-color: #FAACD4;
  color: var(--primary-color);
  font-size: 12pt;
  border: solid 1px var(--primary-color);
  box-shadow: 2px 5px 5px rgba(241, 115, 231, 0.87);
}

.button i{
  text-align: center;
  width: 20px;
}

.button p{
  text-align: center;
}

#last{
  margin-left: 15px;
}


#image-container{
  right: 0;
  width: 50%;
}

#img-cartoon{
  width: 100%;
  max-width: 220px;
}


/*Pagina de Informações*/

#info-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #F463AF;
}

#info-container span{
  font-weight: bold;
  margin-top: 10px;
}

#varal{
  width: 70%;
}

#shoes{
  margin-top: 20px;
  width: 70%;
}
